{% extends 'base.html.twig' %}

{% block title %}No elo{% endblock %}

{% block body %}

{% block content %}
    <h1>List of users: </h1>
    <ul>
        {% for user in users %} 
            <li>{{ user.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% endblock %}
